body {
    font-family: "Microsoft Yahei", Tahoma, Helvetica;
}

div.contents {
}

#titlearea {
    border:none;
}

hr.footer {
}

.footer {
}
#projectname{
}
#nav-tree .label {
    font-family:"Microsoft Yahei", Tahoma, Helvetica;
}
.tabs, .tabs2, .tabs3 {
    font-family:"Microsoft Yahei", Tahoma, Helvetica;
}
.tabs {
    background-color:#00AC6B;
}
.tablist {
    margin: 0;
    padding: 0;
    display: table;
}

.tablist li {
    float: left;
    display: table-cell;
    line-height: 36px;
    list-style: none;
}

.tablist a {
    display: block;
    padding: 0 20px;
    font-weight: bold;
    color: white;
    text-decoration: none;
    outline: none;
}

.tabs3 .tablist a {
    padding: 0 10px;
}

.tablist a:hover {
    background-color: #FF6600;
    color: white;
    text-decoration: none;
}

.tablist li.current a {
    background-color: green;
    color: #fff;
}

//导航css结束

.ui-resizable-e {
  background:none;
  cursor:e-resize;
  height:100%;
  right:0;
  top:0;
  width:3px;
}

